<div class="kanban">

  <!-- NEW -->
  <div class="column">
    <h3>NEW</h3>
    <div cdkDropList [cdkDropListData]="newTickets" [cdkDropListConnectedTo]="['assignes', 'progress', 'resolved']" id="new" (cdkDropListDropped)="drop($event,'NEW')">
      <div *ngFor="let t of newTickets" cdkDrag class="card">
        <h4>{{t.title}}</h4>
        <p>{{t.customerName}}</p>
        <span class="badge priority-{{t.priority}}">{{t.priority}}</span>
      </div>
    </div>
  </div>

  <!-- ASSIGNED -->
  <div class="column">
    <h3>ASSIGNED</h3>
    <div cdkDropList [cdkDropListData]="assignedTickets" [cdkDropListConnectedTo]="['assignes', 'progress', 'resolved']" id="new" (cdkDropListDropped)="drop($event,'ASSIGNED')">
      <div *ngFor="let t of assignedTickets" cdkDrag class="card">
        <h4>{{t.title}}</h4>
        <p>{{t.customerName}}</p>
        <span class="badge priority-{{t.priority}}">{{t.priority}}</span>
      </div>
    </div>
  </div>

  <!-- IN PROGRESS -->
  <div class="column">
    <h3>IN PROGRESS</h3>
    <div cdkDropList [cdkDropListData]="progressTickets" [cdkDropListConnectedTo]="['assignes', 'progress', 'resolved']" id="new" (cdkDropListDropped)="drop($event,'IN_PROGRESS')">
      <div *ngFor="let t of progressTickets" cdkDrag class="card">
        <h4>{{t.title}}</h4>
        <p>{{t.customerName}}</p>
        <span class="badge priority-{{t.priority}}">{{t.priority}}</span>
      </div>
    </div>
  </div>

  <!-- RESOLVED -->
  <div class="column">
    <h3>RESOLVED</h3>
    <div cdkDropList [cdkDropListData]="resolvedTickets" [cdkDropListConnectedTo]="['assignes', 'progress', 'resolved']" id="new" (cdkDropListDropped)="drop($event,'RESOLVED')">
      <div *ngFor="let t of resolvedTickets" cdkDrag class="card">
        <h4>{{t.title}}</h4>
        <p>{{t.customerName}}</p>
        <span class="badge priority-{{t.priority}}">{{t.priority}}</span>
      </div>
    </div>
  </div>

</div>