/* ===== CONTAINER ===== */
.crm-container {
  height: 100vh;
  width: 100vw;
}

/* ===== SIDEBAR ===== */
.crm-sidebar {
  width: 260px;
  background-color: #1e293b;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGO */
.crm-logo {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #334155;
}

.crm-logo h2 {
  color: #38bdf8;
  margin: 0;
}

/* NAV LINKS */
.crm-sidebar mat-nav-list {
  padding-top: 10px;
}

.crm-sidebar a {
  display: block;
  padding: 10px 16px;
  color: #cbd5e1;
  border-radius: 6px;
  margin: 4px 8px;
  text-decoration: none;
}

/* ICON + TEXT */
.link-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.link-text {
  color: #ffffff;
  font-size: 14px;
}

.link-content mat-icon {
  color: #ffffff;
}

/* ACTIVE LINK */
a.active {
  background-color: #334155;
}

a.active .link-text,
a.active mat-icon {
  color: #38bdf8;
  font-weight: 600;
}

/* ===== SIDEBAR FOOTER (LOGOUT) ===== */
.sidebar-footer {
  padding: 16px;
  border-top: 1px solid #334155;
}

.logout-link {
  color: #fca5a5;
}

/* ===== TOOLBAR ===== */
.crm-toolbar {
  background: white;
  border-bottom: 1px solid #e2e8f0;
  padding: 0 16px;
}

.page-title {
  font-weight: 600;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

/* ===== SEARCH BAR ===== */
.search-bar {
  display: flex;
  align-items: center;
  background: #f1f5f9;
  border-radius: 8px;
  padding: 0 12px;
  margin-left: 20px;
  width: 300px;
}

.search-bar input {
  border: none;
  background: transparent;
  padding: 8px;
  width: 100%;
  outline: none;
}

/* ===== CONTENT ===== */
.crm-content {
  padding: 20px;
  background-color: #f8fafc;
  min-height: calc(100vh - 64px); /* toolbar height adjust */
}

.nav-link {
  color: #ffffff;
}

.nav-link mat-icon {
  color: #ffffff;
}

.link-text {
  color: #ffffff;
}

.link-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-link.active {
  background-color: "334155";
}

.nav-link.active .link-text,
.nav-link.active mat-icon {
  color: #38bdf8;
  font-weight: 600;
}

.nav-linlk:hover {
  background-color: #334155;
}

.crm-sidebar a:hover {
  background-color: #334155;
}